<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css" media="screen,projection">

    <meta charset="UTF-8">
    <title>БЛОГ!!!</title>
</head>
<body>
<header class="top-nav">
    <nav class="nav-wraper white">
        <div class="container">
            <a href="#" class="brand-logo black-text">Мой БЛОГ</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons black-text">menu</i>
            </a>
            <ul class="right hide-on-mid-and-down">
                <li><a class="black-text" href="#">Блог</a></li>
                <li><a class="black-text" href="#">О себе</a></li>
                <li><a class="black-text" href="#">Контакты</a></li>
                <li><a class="black-text" href="#">Вход</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a class="black-text" href="#">Блог</a></li>
        <li><a class="black-text" href="#">О себе</a></li>
        <li><a class="black-text" href="#">Контакты</a></li>
    </ul>
</header>

{% block content %}

{% endblock content %}

{% comment %}

 <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="menu-blog">БЛОГ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="menu-blog1" href="#">Блог</a></li>
        <li><a class="menu-blog1" href="#">Новое сообщение</a></li>
        <li><a class="menu-blog1" href="#">Поиск</a></li>
      </ul>
    </div>
    </div>
    </nav>
</div>
{% block content %}

{% endblock content %}
{% endcomment %}
<!-- We need jquery first -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    })
</script>

</body>
</html>