nav{
    position: absolute;
    # width: 1448px;
    height: 102px;
    #top: 10px;

    background: #CCC000;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
}

}

body{
    height: 1000px;
}

p{
    font-family: Museo Cyrl;
    font-size: 45px;
    line-height: 52px;
    /* or 116% */

    display: flex;
    align-items: center;
    letter-spacing: -0.416667px;

    color: #315AF2;
}