{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %}
<br>
<br>
<br>
<br>
<hr>
<div class="container">
<div class="row">
  <div class="col l6">
    <div class="card hoverable small">
        <div class="card-time">
            <p class="data-post">13.05.2020г.</p>
        </div>
        <div class="card-image col xl2">
            <img src="{% static 'images/img.jpg' %}" alt="">
        </div>
        <div>
            <a href="#" class="title-post">Заголовок</a>
        </div>
    </div>
  </div>

</div>
</div>
{% endcomment %}


<div class="container">
  <div class="blog-content">
    <div class="row">
        {% for mypost in mypost_list %}
        <div class="col l6">
            <div class="card hoverable small center-align">
                <div class="card-time">
                    <p class="data-post">{{ mypost.data_stamp }}</p>
                </div>
                <div class="card-image">
                    <img id="photo-post" src="{{ mypost.img.url }}">
                </div>
                <div>
                    <a href="#" class="title-post">{{ mypost.title }}</a>
                </div>
            </div>
        </div>

     {% empty %}
        <h1>Список пуст!</h1>
    {% endfor %}
    </div>
  </div>
</div>
    {% block pagination %}

    {% endblock pagination%}
{% endblock content %}
